<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings> 
    <add key="BaseUrl" value="http://automationpractice.com/index.php"/>
  </appSettings>
  <connectionStrings>
    <add name=""
         connectionString="Data Source=localhost;Initial Catalog=ABC;"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>